@media only screen and (max-width: 600px) {
  #welcome {
      opacity: 0; 
  }

  #logo {
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    min-width: 15%;
    height: auto;
    transform: translateX(0px) !important;
  }

  .html {
      overflow-x: hidden !important;

  }

  .body {
      max-height: 1900px !important;
      justify-content: center !important;
      overflow-x: hidden !important;
  }

  .header{
    justify-content: center;
  }

  .header-img {
    position: sticky !important;
    top: 0 !important;
    width: 105vw !important;
    justify-content: center!important;
    margin: 0;
    z-index: 200; /* This ensures the header is visible */
}

/* You also need to override the desktop-specific classes */
  .header.fixed, .header.contained {
    position: sticky !important;
    top: 0;
    width: 100vw !important;
    justify-content: center!important;
    transform: none !important;
    transform: translateX(-18px) !important;
}

  .social-links {
      justify-content: center;
      font-size: 0.3em;
      margin-bottom: 30vh !important;
  }

  .social-links {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }

  .image-grid {
      max-height: 100vh;
      grid-template-columns: repeat(3, 1fr);
  }

  .grid-item {
    height: 30vw;
  }

  .image-grid-container {
      max-height: 120vh;
  }

  .split-section {
      max-height: 20vh;
      margin-top: -15vh;
      display: block !important;
      padding-left: 20px !important;
  }

  .left-section h1 {
      font-size: 1rem !important; 
  }

  .left-section {
      width: 100% !important;
  }
  
  .right-section p {
      font-size: .5rem; 
      margin-bottom: 3px !important;
  }

  .right-section {
      width: 100% !important;
      margin-left: 0px !important;
      margin-top: 50px !important;
  }

  .bottom-image {
    max-width: 20%;
    max-height: auto;
    margin-top: 10vh !important;
  }

  .footer {
    margin-top: 50vh;
  }

  .squiggle {
      max-height: 1800px !important;
  }

  .flip-container {
      perspective: none;
      top: 200px;

  }
  .flip-container .flipper {
      transform: none;
  }
  .flip-container .front, .flip-container .back {
      position: static;
      width: auto;
      height: auto;
      font-size: 1.5em;
  }

  .copy {
      margin-top: 500px !important;
      margin-bottom: 20px !important;
  }

  .tagline {
    font-size: 0.3em;
    margin-top: 15px !important;
    margin-bottom: 10px;
  }

  .game-mode-toggle p {
    display: none;
  }
  
  .game-mode-toggle img {
    display: none;
  }

}

#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

#loader-overlay.start-transition::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #82fb74;
  animation: riseGreen 0.4s forwards ease-in-out;
  z-index: 15;
}

#loader-overlay.black-transition::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: riseBlack 0.4s forwards ease-in-out;
  z-index: 16;
}

@keyframes riseGreen {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes riseBlack {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

#logo {
  position: absolute;
  z-index: 10;
  stroke-dasharray: 2935;
  stroke-dashoffset: 2935;
  animation: 5s fillLogo linear infinite;
  width: 5%;
  transform: translateX(20px);
  height: auto;
}

#welcome {
  position: relative;
  z-index: 5;
  margin-right: 30px;
  stroke-dasharray: 12583;
  stroke-dashoffset: 12583;
  animation: 5s fillWelcome linear forwards;
  width: auto;
  height: 135vh;
}

@keyframes fillLogo {
  0% {
      stroke-dashoffset: 2935;
  }
  100% {
      stroke-dashoffset: 0;
  }
}

@keyframes fillWelcome {
  0% {
      stroke-dashoffset: 12583;
  }
  100% {
      stroke-dashoffset: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Terminal Closed';
  src: url('../fonts/terminal-grotesque.ttf') format('truetype');
}

html {
  /* overflow: scroll; */
  scroll-snap-type: y proximity;
}

body {
  cursor: url(/public/media/cursor.webp), auto;
  background-color: black;
  color: white;
  font-family: 'Terminal Closed';
  /* height: 540vh; */
  padding-right: 20px;
  padding-left: 20px;
}


body::-webkit-scrollbar {
  display: none;
  background: transparent;
}

.show {
  transform: translateY(25px); 
  opacity: 1; 
}

.tagline{
  margin-top: 30px;
  margin-right: 10px;
  display: flex;
  justify-content: right;
}

.header.fixed {
  position: fixed;
  transform: translateY(14vh);
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.header.contained {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(10vh);
  width: 100%;
}

.header-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.header-sentinel {
  position: absolute;
  bottom: 0; /* Right at the bottom edge */
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 999;
}

.header {
  opacity: 1;
  z-index: 200;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.image-grid-container {
  position: relative;
  height: 450vh;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  grid-template-rows: auto;
  gap: 10px; 
  height: 450vh; 
  padding: 0 20px;
}

/* .show {
  opacity: 1;
} */

.grid-item {
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  opacity: 1;
  height: 15vw; 
  transition: transform 0.5s ease; 
}

.modal-trigger:hover {
  transform: translateY(-5px); 
}

.grid-item:empty {
  background-color: transparent; 
}

.split-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-left: 70px;
  position: relative;
}

.left-section {
  width: 60%;
  display: flex;
  margin-top: 220px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.left-section h1 {
  font-family: 'Terminal Closed';
  font-size: 2.5rem; 
}

.right-section {
  width: 40%;
  margin-top: 200px;
  margin-left: 50px;
  background-color: rgba(0, 0, 0, 0.8);
}

.right-section p {
  margin-bottom: 15px;
  font-family: 'Terminal Closed';
}

.social-links {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  justify-content: right;
  z-index: 100;
  padding-right: 15px;
  padding-left: 15px;
  bottom: 0;
}


.footer {
  margin-top: 250px;
  max-height: 100vh; 
  text-align: center;
  position: relative;
}

.footer h1 {
  font-size: 3rem;
}

.bottom-image {
  position: absolute;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  max-height: 20vh;
}

.squiggle {
  width: 100%;
  height: auto;
  position: absolute; 
  top: -30px;
  left: 0;
  z-index: -1;
}

.flip-container {
  perspective: 1000px;
  position: relative;
}

.flip-container .flipper {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flip-container .front, .flip-container .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flip-container .front {
  z-index: 2;
  transform: rotateY(0deg);
}

.flip-container .back {
  transform: rotateY(180deg);
  z-index: 1;
}

.flip-container .front, .flip-container .back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
}

.flip-container .back {
  color: white; 
}

.copy {
  display: flex;
  justify-content: center;
  margin-top: 550px;
  text-align: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  padding: 20px;
  border-radius: 8px;
  max-width: 50%;
  width: 100%;
  position: relative;
  text-align: center;
}

.popup-header {
  font-size: 3rem;
  font-weight: bold;
  align-items: center;
  margin-bottom: 15px;
}

.popup-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  align-items: center;
}

.popup-message {
  margin-bottom: 20px;
  max-width: 100%;
}

.meii-over {
  max-width: 100px;
  max-height: auto;
  margin-bottom: 50px;
}

.popup-button {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px; 
}

.popup-image-container {
  cursor: pointer;
  margin: 10px auto;
}

.popup-image {
  max-width: 100px; 
  max-height: auto; 
}

.game-mode-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.game-mode-toggle img {
  padding-top: 20px;
  max-width: 100px; 
  max-height: auto; 
}