/* [project]/public/media/xbutton.webp (static in css) */
/* embedded static asset "/_next/static/media/xbutton.fc32d7f9.webp" */

/* [project]/src/app/Modal.css [client] (css) */
@media (width <= 768px) {
  .modal-content {
    flex-direction: column;
    justify-content: center;
  }

  .modal-left {
    height: auto;
    order: 1;
    width: 100% !important;
  }

  .modal-right {
    height: auto;
    order: 2;
    width: 100% !important;
  }

  .prev {
    transform: translateY(35vh);
  }

  .next {
    transform: translateY(35vh);
  }

  .modal-right {
    position: relative;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000c;
  z-index: 1000;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  cursor: url("../media/xbutton.fc32d7f9.webp"), auto;
}

.modal-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 80%;
  overflow: hidden;
  cursor: url("../media/xbutton.fc32d7f9.webp"), auto;
  opacity: 1;
  bottom: -100%;
  transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
}

.modal-content-transition {
  transition: bottom .6s ease-in-out, opacity .3s ease-in-out;
  display: flex;
}

.modal.open {
  opacity: 1;
  bottom: 10%;
  display: flex;
}

.modal-content-animate {
  bottom: 10%;
}

.modal-content-slide-down {
  bottom: -100%;
  opacity: 1;
  transition: bottom .3s ease-in-out;
}

.modal-right {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  overflow-y: auto;
}

.modal-left {
  width: 60%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .5s;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.carousel-slide.active {
  opacity: 1;
  z-index: 10;
}

.carousel-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#modalImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: auto;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  transition: all .6s;
  user-select: none;
  z-index: 20;
  border: none;
  background: none;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.prev img, .next img {
  width: 50px;
  height: auto;
}

.modal-right .text-content, .modal-right .text-content a, .modal-left img, .prev, .next {
  cursor: pointer;
}

.close-button {
  display: none;
}

.text-content {
  font-family: Terminal Closed;
  color: #fff;
  font-size: 1em;
  width: 100%;
  z-index: 1002;
  opacity: 1;
  transition: opacity .8s;
}

.modal-link {
  color: #82fb74;
}

.modal-link:visited {
  color: #82fb74;
}

.modal-link:active {
  color: #82fb74;
}


/* [project]/public/fonts/terminal-grotesque.ttf (static in css) */
/* embedded static asset "/_next/static/media/terminal-grotesque.9f3efecd.ttf" */

/* [project]/public/media/cursor.webp (static in css) */
/* embedded static asset "/_next/static/media/cursor.57f8e949.webp" */

/* [project]/src/app/globals.css [client] (css) */
@media only screen and (width <= 600px) {
  #welcome {
    opacity: 0;
  }

  #logo {
    max-width: 20%;
    max-height: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
  }

  .html {
    overflow-x: hidden !important;
  }

  .body {
    max-height: 1900px !important;
    justify-content: center !important;
  }

  .header {
    margin-top: 35px;
    margin-right: 15px;
  }

  .social-links {
    justify-content: center;
  }

  .social-links {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .social-links img {
    max-height: 75%;
    max-width: 75%;
  }

  .name-flip-container {
    margin-top: -270px !important;
  }

  .flipper p {
    font-size: .6em;
  }

  .image-grid {
    max-height: 100vh;
    margin-top: 5vh;
  }

  .image-grid-container {
    max-height: 120vh;
  }

  .split-section {
    max-height: 20vh;
    margin-top: 20px !important;
    display: block !important;
    padding-left: 20px !important;
  }

  .left-section h1 {
    font-size: 1rem !important;
  }

  .left-section {
    width: 100% !important;
  }

  .right-section p {
    font-size: .5rem;
    margin-bottom: 3px !important;
  }

  .right-section {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 50px !important;
  }

  .footer {
    margin-top: 320px !important;
  }

  .squiggle {
    max-height: 1800px !important;
  }

  .flip-container {
    perspective: none;
  }

  .flip-container .flipper {
    transform: none;
  }

  .flip-container .front, .flip-container .back {
    position: static;
    width: auto;
    height: auto;
    font-size: 1.5em;
  }

  .copy {
    margin-top: 600px !important;
    margin-bottom: 20px !important;
  }

  .game-mode-toggle p {
    display: none;
  }

  .game-mode-toggle img {
    display: none;
  }
}

#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#loader-overlay.start-transition:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #82fb74;
  animation: .4s ease-in-out forwards riseGreen;
  z-index: 15;
}

#loader-overlay.black-transition:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  animation: .4s ease-in-out forwards riseBlack;
  z-index: 16;
}

@keyframes riseGreen {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes riseBlack {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

#logo {
  position: absolute;
  z-index: 10;
  stroke-dasharray: 2935;
  stroke-dashoffset: 2935px;
  animation: 5s linear infinite fillLogo;
}

#welcome {
  position: relative;
  z-index: 5;
  margin-right: 125px;
  stroke-dasharray: 12583;
  stroke-dashoffset: 12583px;
  animation: 5s linear forwards fillWelcome;
}

@keyframes fillLogo {
  0% {
    stroke-dashoffset: 2935px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fillWelcome {
  0% {
    stroke-dashoffset: 12583px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Terminal Closed;
  src: url("../media/terminal-grotesque.9f3efecd.ttf") format("truetype");
}

html {
  scroll-snap-type: y proximity;
}

body {
  cursor: url("../media/cursor.57f8e949.webp"), auto;
  background-color: #000;
  color: #fff;
  font-family: Terminal Closed;
  padding-right: 20px;
  padding-left: 20px;
}

body::-webkit-scrollbar {
  display: none;
  background: none;
}

.social-links, .header, .name-flip-container, .grid-item {
  position: relative;
  transform: translateY(70px);
  opacity: 0;
  transition: transform 1s, opacity .5s;
}

.show {
  transform: translateY(25px);
  opacity: 1;
}

.social-links {
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 100;
  padding-right: 15px;
  padding-left: 15px;
}

.social-links a:hover img {
  filter: brightness(1.2);
  transform: scale(1.1);
}

.social-links img {
  max-height: 75%;
  max-width: auto;
}

.header {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  padding-top: 0 20px;
  overflow: hidden;
}

.header-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: all;
}

.name-flip-container {
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 380px;
  z-index: 50;
}

.name-flip-container .flipper {
  transition: transform .6s;
  transform-style: preserve-3d;
  position: relative;
}

.name-flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.name-flip-container .front, .name-flip-container .back {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000;
  color: #fff;
}

.name-flip-container .back {
  transform: rotateY(180deg);
  z-index: 1;
  font-size: 2em;
}

.name-flip-container .front {
  transform: rotateY(0);
  z-index: 2;
  font-size: 2em;
}

.image-grid-container {
  position: relative;
  top: 40vh;
  height: 360vh;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  height: 450vh;
  padding: 0 20px;
}

.grid-item {
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  opacity: 1;
  height: 15vw;
  transition: transform .5s;
}

.modal-trigger:hover {
  transform: translateY(-5px);
}

.grid-item:empty {
  background-color: #0000;
}

.split-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-left: 70px;
  margin-top: 800px;
  position: relative;
}

.left-section {
  width: 60%;
  display: flex;
  margin-top: 220px;
  align-items: center;
  background-color: #000c;
}

.left-section h1 {
  font-family: Terminal Closed;
  font-size: 2.5rem;
}

.right-section {
  width: 40%;
  margin-top: 200px;
  margin-left: 50px;
  background-color: #000c;
}

.right-section p {
  margin-bottom: 15px;
  font-family: Terminal Closed;
}

.footer {
  margin-top: 250px;
  max-height: 100vh;
  text-align: center;
  position: relative;
}

.footer h1 {
  font-size: 3rem;
}

.bottom-image {
  position: absolute;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  max-height: 20vh;
}

.squiggle {
  width: 100%;
  height: auto;
  position: absolute;
  top: -30px;
  left: 0;
  z-index: -1;
}

.flip-container {
  perspective: 1000px;
  position: relative;
}

.flip-container .flipper {
  transition: transform .6s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flip-container .front, .flip-container .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flip-container .front {
  z-index: 2;
  transform: rotateY(0);
}

.flip-container .back {
  transform: rotateY(180deg);
  z-index: 1;
}

.flip-container .front, .flip-container .back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #fff;
}

.flip-container .back {
  color: #fff;
}

.copy {
  display: flex;
  justify-content: center;
  margin-top: 550px;
  text-align: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  padding: 20px;
  border-radius: 8px;
  max-width: 50%;
  width: 100%;
  position: relative;
  text-align: center;
}

.popup-header {
  font-size: 3rem;
  font-weight: bold;
  align-items: center;
  margin-bottom: 15px;
}

.popup-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  align-items: center;
}

.popup-message {
  margin-bottom: 20px;
  max-width: 100%;
}

.meii-over {
  max-width: 100px;
  max-height: auto;
  margin-bottom: 50px;
}

.popup-button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.popup-image-container {
  cursor: pointer;
  margin: 10px auto;
}

.popup-image {
  max-width: 100px;
  max-height: auto;
}

.game-mode-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 270px;
}

.game-mode-toggle img {
  padding-top: 20px;
  max-width: 100px;
  max-height: auto;
}


/*# sourceMappingURL=_cc4460ef._.css.map*/
